<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>insert_access</h1>
    <form method="POST">
        {% csrf_token %}
        <table>
        <tr><td><label for="na">name</label></td>
            <td><input type="text" name="na" id="na"></td>
        </tr>
        <tr>
        <td><label for="da">date</label></td>
        <td><input type="date" name="da" id="da"></td>
        </tr>
        <tr>
        <td><input type="submit" value="Submit"></td>
        </tr>
        </table>
    </form>
</body>
</html>