<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>insert_webpage</h1>
    <form method="POST">
        <table border="2px">
            {% csrf_token %}
            <tr>
                <td><label for="tp">topic_name</label></td>
                <td><input type="text" name="tp" id="tp"></td>
            </tr>
            <tr>
                <td><label for="na">name</label></td>
                <td><input type="text" name="na" id="na"></td>
            </tr>
            <tr>
                <td><label for="ur">url</label></td>
                <td><input type="text" name="ur" id="ur"></td>
            </tr>
            <tr>
                 <td colspan="2" align="center"><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
</body>
</html>